body {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
  }

  .btn{
    border:0px solid transparent; 
   }
  
  .blue-back {
    background-color: #2CA5E4;
    width: 100%;
    height: 600px;
  }

  header {
    margin-top: 1em;
    color:white;
  }
  
  .hiring-text {
    font-size: 10px;
    color:lightgrey;
  }

  .hiring-text:hover {
    text-decoration: underline;
    color: #FEFFFF;
    cursor:pointer;
  }
  
  .get-started {
    display: inline;
    float: right;
  }

  .get-started-login {
    background-color: #2CA5E4;
    border: none;
    color: white;
    font-size: 13px;
    padding: .5em;
    border-radius: 3%;
  }

  .get-started-login:hover {
    background-color: white;
    color: #2CA5E4;
    cursor: pointer;
  }

  .get-started-free:hover {
    background-color: white;
    color: #2CA5E4;
    cursor: pointer;
  }

  .title-container {
    text-align:center;
  }
  
  .title-task-text {
    margin-top: 2em;
    text-align:center;
    color: white;
  }

  .title-automation-text {
    text-align:center;
    color:white;
    font-weight: bold;
  }

  .title-description-text {
    text-align:center;
    margin-top: 2em;
    color:white;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 3.5em;
  }
  